/* *{
    margin: 0;
    padding: 0;
} */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
}
/* img{
    width: 100%;
} */
h1{
    font-size: 50px;
}
.peter-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.btn{
    background: linear-gradient(to right, lightsalmon, tomato);
    padding: 10px 40px;
    color: #fff;
    border-radius: 5px;
    transition: .5s;
}
.btn:hover{
    background: linear-gradient(to left, lightsalmon, tomato);
}
.top-banner{
    background-image: url(../images/top-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
}